<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eltonleao</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/vendor.min.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"> <a href="../../index.html">eltonleao</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="../../index.html">Home</a>
                <a class="mdl-navigation__link" href="../views/projetos.html">Projects</a>
                <a class="mdl-navigation__link" href="">Blog</a>
                <a class="mdl-navigation__link" href=""><b>About</b></a>
            </nav>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">eltonleao</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="../../index.html">home</a>
            <a class="mdl-navigation__link" href="../views/projetos.html">projetos</a>
            <a class="mdl-navigation__link" href="">Robótica</a>
        </nav>
    </div>

    <main id="about" class="mdl-layout__content page-content">
        <div class="container">
            <div class="row header">
                <h2>Elton Leão da Fé</h2>
            </div>

            <div class="row">
                <div class="side-bar col-3 mdl-shadow--2dp">
                    <ul>
                        <li>
                            <span class="material-icons">location_on</span>
                            <a target="_blank" href="https://goo.gl/maps/SwzWWeZmD6cadMBbA">Quitandinha, Petrópolis - RJ, Brasil.</a>
                        </li>
                        <li>
                            <span class="material-icons">stay_current_portrait</span>
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=5524988457461&text=Olá Elton!">+55 24 988457461</a>
                        </li>
                        <li>
                            <span class="material-icons">mail_outline</span>
                            <a href="mailto:3lton.leao@gmail.com">3lton.leao@gmail.com</a>
                        </li>
                        <li>
                            <img class="github-icon" src="../img/about/GitHub-Mark-32px.png" alt="">
                            <a target="_blank" href="https://github.com/Eltonleao">eltonleao</a>
                        </li>
                        <!-- <li>
                            <span class="material-icons">cake</span>
                            08-30-95
                        </li> -->
                    </ul>
                    <hr>
                    <ul>
                        <li>2018 até o presente</li>
                        <li><a target="_blank" href="http://www.faeterj-petropolis.edu.br/">FAETERJ</a></li>
                        <li>Tecnologia da Informação</li>
                    </ul>
                    <ul>
                        <li>2014 até 2017</li>
                        <li><a target="_blank" href="http://www.cefet-rj.br/index.php/petropolis">CEFET</a></li>
                        <li>Licenciatura em Física</li>
                    </ul>
                    <hr>
                    <ul>
                        <li>Skills</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                    </ul>
                </div>


                <div class="col-8 timeline">

                    <div class="mdl-shadow--2dp card">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Trainee Fullstack Developer</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                See More
                            </a>
                        </div>
                    </div>

                    <div class="mdl-shadow--2dp card">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Happy Code Tutor</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                See More
                            </a>
                        </div>
                    </div>

                    <div class="mdl-shadow--2dp card">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Kumon Tutor</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                See More
                            </a>
                        </div>
                    </div>

                    <div class="mdl-shadow--2dp card">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">ILS</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Mauris sagittis pellentesque lacus eleifend lacinia...
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                See More
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mdl-shadow--2dp card extras ">
                sdjh
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small cyan darken-3">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                <a href=""><img src="../img/about/facebook-color.svg" alt=""></a>
                <a href=""><img src="../img/about/instagram-color.svg" alt=""></a>
                <a href=""><img src="../img/about/linkedin.svg" alt=""></a>
                <a href=""><img src="../img/about/whatsapp.svg" alt=""></a>
                <a href=""><img src="../img/about/youtube.svg" alt=""></a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
    </main>


    <!-- js vendors -->
    <script src="../js/vendor.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="../js/site.min.js"></script>

</body>

</html>