<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HH</title>
    <link rel="stylesheet" href="../../public/css/vendor/bootstrap-4.5.3.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <!-- <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div> -->

    <div class="container">
        <div class="row w-100 h-100vh justify-content-center align-content-center">
            <div class="form-group col-sm-6">
                <input placeholder="Cole o site que você quer 'se apropriar'" id="search" type="text" class="form-control">
            </div>
            <div class="col-sm-12 text-center">
                <button class="btn btn-primary" type="button" onclick="getText()">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                    Go
                  </button>
            </div>
        </div>
        <div id="content" class="content"></div>
    </div>

    <div class="temp hide"></div>


    <script src="../../public/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="../../public/js/vendor/bootstrap-4.5.3.min.js"></script>
    <script src="./main.js"></script>
</body>

</html>