<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiroko sensei</title>
    <link rel="stylesheet" href="../../../public/css/vendor/bootstrap-4.5.3.min.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="jumbotron bg-primary text-white text-center jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hiroko Sensei</h1>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-sm-4">
                <div class="card text-white bg-facebook mb-3 mt-3 d-flex">
                    <div class="card-header">Facebook</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="d-flex">
                            <a href="./facebook/" class="btn btn-warning ml-auto">行きましょう</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card text-white bg-instagram mb-3 mt-3 d-flex">
                    <div class="card-header">Instagram</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-warning ml-auto">行きましょう</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card text-white bg-msoffice mb-3 mt-3 d-flex">
                    <div class="card-header">PowerPoint</div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="d-flex">
                            <a href="#" class="btn btn-warning ml-auto">行きましょう</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <script src="../../../public/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="../../../public/js/vendor/bootstrap-4.5.3.min.js"></script>
    <script src="./main.js"></script>
</body>

</html>